<footer class=" bg-light mt-5 p-4 text-center">
    <div class="container">
        &copy; 2025 - TechJobPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>




