@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5 fade-in mt-5">
    <h1 class="display-4 mt-5">Welcome to TechJobPortal</h1>
    <p class="lead mb-5">Your one-stop destination for tech job listings.</p>
    <p>Explore the latest job opportunities, filter by job type, sort by date, and search for specific job titles or companies.</p>
    <hr class="my-4 mt-5 mb-5" />
    <p>Get started by exploring the job listings:</p>
    <a class="btn btn-primary btn-lg mb-5 " asp-controller="Job" asp-action="Index">View Job Listings</a>
</div>


